<%- include('header.ejs') %>
<p>Welcome <%=username%>, You are logged in.</p>
<a href="intent://file-streamer-bot.herokuapp.com/121648#Intent;package=com.playit.videoplayer;action=android.intent.action.VIEW;scheme=http;type=video/mp4;end">Intent: Link; will play in app</a>
