<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Telegram: @my_channels_list_official</title>
  <link rel="icon" href="https://www.pngkey.com/png/full/116-1166894_videos-video-streaming-icon-png.png">
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
</head>

<body>